<!DOCTYPE html>
<html>

   <head>
      <title>Backend Challenges | Free Code Camp</title>
      <link rel="shortcut icon" href="https://cdn.hyperdev.com/us-east-1%3A52a203ff-088b-420f-81be-45bf559d01b1%2Ffavicon.ico" type="image/x-icon"/>
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
      <link href="/public/style.css" rel="stylesheet" type="text/css">
   </head>

   <body>
      <div class="container">
         <h1>Request Header Parser Microservice</h1>
         <h3>Part 2 of Free Code Camp Backend Challenges</h3>
        <h4>
          User stories: </h4>
        I can get the IP address, language and operating system for my browser.
        
<h4>
  Example usage:
        </h4>
https://pankaja-fcc-request-header-parser.glitch.me/whoami

        <h4>
          Example output:
        </h4>
        <pre>
{ipaddress: "223.237.255.218",
language: "en-US",
software: "Windows NT 6.3; Win64; x64"}
</pre>
      </div>
     <footer>
     Coded by Pankajashree R</footer>
   </body>

</html>
